#frame {
  place-self: stretch;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#content{
  place-self: stretch;
  grid-column: 1/13;
  grid-row: 2/13;
  border-radius: .8rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: rgba(0,0,0,0);
  padding: 1rem;
}


.col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-24 {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.row-12 {
  grid-template-rows: repeat(12, 1fr);
}

.future-border {
  border-width: .1rem .4rem .4rem .1rem;
  border-color: #0000e6;
  border-style: solid;
  border-radius: .5rem
}

.buttonish, button {
  background-color: rgba(0,0,0,0);
  align-self: center;
}

.buttonish:active,.buttonish:hover, button:active, button:hover {
  border-width: .1rem;
  margin-left: .9rem;
}

@media screen and (min-width: 500px) {
  #content {
    grid-column: 2/12;/*
    border-color: #0000e6;
    border-style: solid;
  } */
}
}
