@import 'mixins';

#details-screen {


}

#details-display {

  h3 {
    @include top-header;
  }

  img {
    @include single-image;
  }
}

#details-input {

  @include sub-display;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;


}

.load-details {
  @include load-container(7);
  margin-top: 5vh;
}
