@import 'mixins';

#details-display {

  h3 {
    @include top-header;
  }

  img {
    @include single-image;
  }
}

#details-input {

  @include sub-display;

  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 551px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }


}

.load-details {
  @include load-container(7);
  margin-top: 5vh;
}
