#search-section {
  text-align: center;
  display: block;
  width: 100%;

  span {
    margin: 0;
  }

  input[type=text]{
    background-color: transparent;
    border: none;
    outline:none;
    border-bottom: .3rem solid white;
    width: 50%;
  }

  button {
    display: inline-block;
    margin-left: .5rem;
  }
}
