#season-box {
  h4 {
    text-align: center;
  }

  @media screen and (max-width: 550px) {

    margin-bottom: 1rem;
    width: 100%;
    place-self: center;
  }

  #seasons {
    margin-top: 1rem;
    place-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill, 2.3rem);
    grid-gap: .5rem;
  }
}
