#season-box {
  margin-left: 15%;
  align-self: end;

}

#seasons {
  align-self: end;
  margin-top: 1rem;
  margin-left: 2rem;
  position: relative;
  //width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1.5rem);
  grid-gap: .5rem;
}

@media screen and (min-width: 800px) {
  #season-box{
    margin-left: 40%;
  }
}
