@import 'mixins';

.season {
  height:2.2rem;
  width: 2.2rem;
  font-size: 1.5rem;
  text-align: center;
}

.s-active {
  background-color: $future-blue;
}

.s-inactive {
  background-color: transparent;
  color: rgb(220,220,220);
}

@media screen and (min-width: 800px) {
  .season:hover {
    background-color: $future-blue;
  }
}
