#start-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#past-searches, #popular-searches {
  display: block;
  margin-top: 1rem;
  padding: .5rem;
}

.showcase {
  height: 60vh;
  overflow-x: scroll;
}
