asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
BeautifulSoup==3.2.2
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cryptography==2.3
enum34==1.1.6
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
six==1.11.0
soupsieve==1.9.5
urllib3==1.25.7
virtualenv==16.7.8
Werkzeug==0.16.0
